.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.*
!.editorconfig
!.flake8
!.gitignore
!.isort.cfg
!.gitlab-ci.yml
!.dockerignore
!.pre-commit-config.yaml
!.env.example

venv*/

/settings/local.py
requirements.local.*

/media/
/static/
*/media/
*/static/

*.log
*.py[co]

celerybeat-schedule*
celeryd.pid

docker-compose-local.yml
local.Dockerfile
