-c requirements.txt
-c requirements.lint.txt
-c requirements.test.txt

pip-tools==7.4.1
pre-commit==4.0.1

django-debug-toolbar==4.4.6

# for shell_plus --ipython
ipython==8.29.0

# for runserver_plus
werkzeug==3.1.3
